# Ignore the following files
# --------------------------
# Unity3D specific
#
**/Library
**/Temp
**/obj
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.apk
**/*.userprefs
**/*.pidb

# include meta files
!*.*.meta
/obj
*.userprefs
*.suo

/*.csproj
